:root {
    --inner-wrapper: 980;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #ccc6c6;
    font-family: 'Nunito', sans-serif;
    background-image: url(images/bg.jpg);
    background-size: 100%;
}

#wrapper {
    width: 100%;
}

.inner-wrapper {
    max-width: var(--inner-wrapper);
    margin: 0 auto;
}

.toplogo {
    width: 100% ;
}

.header-middle {
    max-width: 1000px;
    margin: 0 auto; 
    text-align: center; 
}

.header-text {
    font-weight: 80px;
    font-size: 64px;
    color: white;
}

.cek {
    margin-top: 100px;
    margin-bottom: 0;
    color: white;
}

.unggah {
    max-width: 1000px;
    text-align: center;
    background: url(images/Rectangle\ 6.svg);
    padding: 25px;
    color: white;

}